## Sentiment Analysis using Naive Bayes

#### Importing required libraries

In [207]:
import numpy as np
import pandas as pd
import string
from nltk.corpus import stopwords
import sklearn as sk
import matplotlib as mt
import seaborn as sns

#### Reading the data set

In [208]:
# Reading the data set

alexa_reviews = pd.read_csv('amazon_alexa.tsv',sep='\t')

In [209]:
# Head of the data set

alexa_reviews.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [210]:
# Info of alexa_reviews data set

alexa_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rating            3150 non-null   int64
 1   date              3150 non-null   object
 2   variation         3150 non-null   object
 3   verified_reviews  3150 non-null   object
 4   feedback          3150 non-null   int64
dtypes: int64(2), object(3)
memory usage: 123.2+ KB

In [211]:
# Rating column distribution

alexa_reviews['rating'].value_counts()

5    2286
4     455
1     161
3     152
2      96
Name: rating, dtype: int64

- Most of the reviews have rating 5
- Handling the imbalanced data set might be required

#### Data preprocessing

In [212]:
# Since we are focusing only on sentiment analysis we will only retain 'Rating' and 'verified_reviews' column

alexa_reviews = alexa_reviews[['rating','verified_reviews']]

# Head of the modified data set

alexa_reviews.head()

   rating                                   verified_reviews
0       5                                      Love my Echo!
1       5                                          Loved it!
2       4  Sometimes while playing a game, you can answer...
3       5  I have had a lot of fun with this thing. My 4 ...
4       5                                              Music

In [213]:
# Ratings from 1 to 3 are mapped to 0 and rating 4 & 5 are mapped to 1

alexa_reviews['rating'] = alexa_reviews['rating'].apply(lambda val : 0 if val <=3 else 1)

In [214]:
alexa_reviews['rating'].value_counts()

1    2741
0     409
Name: rating, dtype: int64

In [215]:
from nltk.stem import WordNetLemmatizer

import nltk

nltk.download('wordnet')

# Instantiating WordNetLemmatizer for it to be used in below function

lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [216]:
# Contains all the punctuations that need to be removed

punc_to_remove = string.punctuation

In [217]:
# Contains all the stop words that need to be removed

stop_words = set(stopwords.words('english'))

In [218]:
pip install autocorrect

Requirement already satisfied: autocorrect in c:\users\admin\anaconda3\lib\site-packages (2.6.1)Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -umpy (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\admin\anaconda3\lib\site-packages)
WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\Admin\anaconda3\python.exe -m pip install --upgrade pip' command.

In [219]:
from autocorrect import Speller

# Helps with correct spellings

speller = Speller(lang='en')

In [220]:
def remove_punctuations(word):
    cleaned_word = list()
    
    for letter in list(word):
        if letter not in list(punc_to_remove):
            cleaned_word.append(letter)
    
    return "".join(cleaned_word)

In [221]:
# A generic function to pre-process a text

def preprocess_text(text):
    
    text = str(text)
    
    # Convert the text to lower case
    
    text_lower = text.lower()
    
    # Remove punctutations
    
    text_no_punc = " ".join([remove_punctuations(word) for word in str(text_lower).split()])
    
    # Remove stop words in the text
    
    text_no_stop_word = " ".join([word for word in str(text_no_punc).split() if word not in stop_words])
    
    # Performing lemmatization on the text
    
    text_lemma = " ".join([lemmatizer.lemmatize(word) for word in text_no_stop_word.split()])
    
    # Perform spelling check
    
    correct_text = " ".join([speller(word) for word in text_lemma.split()])
    
    return correct_text

In [222]:
alexa_reviews['pre_processed_review'] = alexa_reviews['verified_reviews'].apply(lambda text : preprocess_text(text))

In [223]:
alexa_reviews.head(5)

,rating,verified_reviews,pre_processed_review
0,1,Love my Echo!,love echo
1,1,Loved it!,loved
2,1,"Sometimes while playing a game, you can answer...",sometimes playing game answer question correct...
3,1,I have had a lot of fun with this thing. My 4 ...,lot fun thing 4 yr old learns dinosaur control...
4,1,Music,music

#### Performing train test split

In [224]:
from sklearn.model_selection import train_test_split

# Creating X and y data frames

y = pd.DataFrame(alexa_reviews['rating'],columns=['rating'])

X = pd.DataFrame(alexa_reviews['pre_processed_review'],columns =['pre_processed_review'])

In [225]:
X.shape

(3150, 1)

In [226]:
y.shape

(3150, 1)

In [227]:
# Perform train & test split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

print("X_train shape ", X_train.shape)
print("X_test shape ", X_test.shape)
print("y_train shape ", y_train.shape)
print("y_test shape ", y_test.shape)

X_train shape  (2520, 1)
X_test shape  (630, 1)
y_train shape  (2520, 1)
y_test shape  (630, 1)

#### Using TF-IDF vectorizer

In [228]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Instantiating tf_idf vectorizer

tdf_idf_vec = TfidfVectorizer()

In [229]:
# Fit and transform train data

X_train_tf_idf = tdf_idf_vec.fit_transform(X_train['pre_processed_review'])

# Only transform test data

X_test_tf_idf = tdf_idf_vec.transform(X_test['pre_processed_review'])

In [230]:
X_train_tf_idf.shape

(2520, 3347)

In [231]:
X_test_tf_idf.shape

(630, 3347)

#### Using SMOTE to handle class imbalance

In [232]:
# Rating distribution in train set before class imbalance handling

y_train['rating'].value_counts()

1    2195
0     325
Name: rating, dtype: int64

In [233]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=7)

# Handle class imbalance

X_train_bal,y_train_bal = smote.fit_sample(X_train_tf_idf,y_train)

In [234]:
# Rating distribution in train set after class imbalance handling

y_train_bal['rating'].value_counts()

1    2195
0    2195
Name: rating, dtype: int64

#### Model building

In [235]:
from sklearn.naive_bayes import MultinomialNB

# Model instantiation

nb_model = MultinomialNB()

In [236]:
# Fitting the training data

nb_model.fit(X_train_bal,y_train_bal)

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

MultinomialNB()

#### Model evaluation

In [237]:
# Predict the rating in test data

y_test_pred = nb_model.predict(X_test_tf_idf)

# Sample predictions

y_test_pred[:5]

array([0, 0, 1, 1, 1], dtype=int64)

In [238]:
# Rating distribution in test set

y_test['rating'].value_counts()

1    546
0     84
Name: rating, dtype: int64

In [239]:
# Rating distribution in predicted test set

y_test_pred = pd.DataFrame(y_test_pred)

y_test_pred.columns = ['rating']

y_test_pred['rating'].value_counts()

1    519
0    111
Name: rating, dtype: int64

In [240]:
from sklearn import metrics

# Preparing accuracy_score

accuracy_score = metrics.accuracy_score(y_test,y_test_pred)

print(accuracy_score)

0.8904761904761904

In [247]:
# Calculating precision_score

precision_score = metrics.precision_score(y_test,y_test_pred)

print(precision_score)

0.9595375722543352

In [246]:
# Calculating recall_score

recall_score = metrics.recall_score(y_test,y_test_pred)

print(recall_score)

0.9120879120879121